<h2>Přidat položky</h2>
<form n:name="addReplenishmentItemForm" class="form-horizontal">
    <div class="form-group required">
        <div class="col-sm-3 control-label"><label n:name="ingredientId" /></div>
        <div class="col-sm-9"><select n:name="ingredientId" class="form-control" data-linked-pair="add-item" id="ingredient-selector"/>
        </div>
    </div>

    <div class="form-group required">
        <div class="col-sm-3 control-label"><label n:name="pieces" class="required"/></div>
        <div class="col-sm-9"><input n:name="pieces" n:class="form-control, text" data-linked-pair="add-item"></div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group required">
                <div class="col-sm-6 control-label">
                    <label n:name="totalPrice" class="required"/>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input n:name="totalPrice" class="form-control text">
                        <div class="input-group-addon">{$form['totalPrice']->getOption('currency')|currency}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group required">
                <div class="col-sm-8 control-label">
                    <label n:name="vat" class="required"/>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input n:name="vat" class="form-control text" id="vat-input">
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label"><label n:name="note" /></div>
        <div class="col-sm-9"><input n:name="note" class="form-control text"></div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 control-label"></div>
        <div class="col-sm-9"><input n:name="send" class="btn btn-primary button"></div>
    </div>
</form>

<form n:name="replenishmentItemsForm">
    <table class="table" id="replenishment-items-form">
        <thead>
        <tr>
            <th>Položka</th>
            <th>Počet</th>
            <th>Cena/ks</th>
            <th>Celková cena (vč. DPH)</th>
            <th>Sazba DPH</th>
            <th>Poznámka</th>
        </tr>
        </thead>
        <tbody>
        <tr n:foreach="$replenishment->items as $replenishmentItem" class="ingredient-box">
            {var $ingredientIdSelect = "ingredientId" . $replenishmentItem->id}
            {var $piecesInput = "pieces" . $replenishmentItem->id}
            {var $totalPriceInput = "totalPrice" . $replenishmentItem->id}
            {var $vatInput = "vat" . $replenishmentItem->id}
            {var $noteInput = "note" . $replenishmentItem->id}
            {var $ingredient = $replenishmentItem->ingredient}

            <td><select n:name="$ingredientIdSelect" class="form-control ingredient-select" data-linked-pair="item-{$replenishmentItem->id}"/></td>
            <td><input n:name="$piecesInput" n:class="form-control, text" data-linked-pair="item-{$replenishmentItem->id}"></td>
            <td>{$replenishmentItem->calculatePricePerPiece()|money}</td>
            <td>
                <div class="input-group">
                    <input n:name="$totalPriceInput" class="form-control text"/>
                    <div class="input-group-addon">{$form[$totalPriceInput]->getOption('currency')|currency}</div>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input n:name="$vatInput" class="form-control text vat-input input-min-width"/>
                    <div class="input-group-addon">%</div>
                </div>
            </td>
            <td><input n:name="$noteInput" class="form-control text"/></td>
            <td n:if="$employee->isShopManager()"><a n:href="removeReplenishmentItem!, replenishmentItemId => $replenishmentItem->id" data-confirm="Opravdu smazat {$ingredient->name}">Smazat</a></td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <input n:name="send" class="btn btn-primary"/>
    </div>
</form>
<script>
    $(function () {
        // add
        var vatInput = $('#vat-input');
        var addSelector = $('#ingredient-selector');

        var selected = addSelector.find(':selected');
        if (selected.size() > 0 && selected.attr('data-vat') !== undefined) {
            vatInput.prop('readonly', true);
        }

        addSelector.change(function () {
            var vat = $(this).find(':selected').attr('data-vat');

            if (vat !== undefined) {
                vatInput.val(vat);
            } else {
                vatInput.val('');
            }

            vatInput.prop('readonly', vat !== undefined);
        });

        // edit
        $('.ingredient-select').change(function () {
            var vat = $(this).find(':selected').attr('data-vat');
            var vatInput = $(this).parents('.ingredient-box').find('.vat-input');

            if (vat !== undefined) {
                vatInput.val(vat);
            } else {
                vatInput.val('');
            }

            vatInput.prop('readonly', vat !== undefined);
        });
    });
</script>
