<form n:name="safeBagForm" class="form-horizontal">
	<div n:foreach="$form->errors as $error" class="alert alert-danger">{$error}</div>

	<div class="form-group">
		<div class="col-sm-2 control-label"><label n:name="number"/></div>
		<div class="col-sm-3"><input n:name="number" class="form-control text"></div>
		<div class="col-sm-7 control-label" style="font-size: 12px;">
			Najdete ho pod čárovým kódem. Měl by být něco jako <em>CZ0100655309123456</em>.
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 control-label"><label n:name="inWrongBag"/></div>
		<div class="col-sm-3"><input n:name="inWrongBag" class="form-control text" style="transform: scale(1); border: 0; box-shadow: none;"></div>
		<div class="col-sm-7 control-label" style="font-size: 12px;" id="inWrongBagDescription">
			Použijte pytlík na Trdelníky. Napište na něj údaje pro identifikaci. Tj. prodejnu, datum a den (Např.: <em style="color: blue;">Olympia Teplice 25.5.</em>). Nezapomeňte poté sáček "zakoňovat".
		</div>
	</div>

	<hr>

	<div class="form-group">
		<div class="col-sm-2 control-label"><label n:name="moneyStatus"/></div>
		<div class="col-sm-3"><select n:name="moneyStatus" n:class="form-control, text" /></div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 control-label"><label n:name="papersStatus"/></div>
		<div class="col-sm-3"><select n:name="papersStatus" n:class="form-control, text" /></div>
	</div>

	<hr>

	<div class="form-group">
		<div class="col-sm-3">
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="oneEuroCent" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="oneEuroCent"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="twoEuroCent" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="twoEuroCent"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="fiveEuroCent" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="fiveEuroCent"/></div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="tenEuroCent" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="tenEuroCent"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="twentyEuroCent" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="twentyEuroCent"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="fiftyEuroCent" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="fiftyEuroCent"/></div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="oneEuro" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="oneEuro"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="twoEuro" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="twoEuro"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="fiveEuro" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="fiveEuro"/></div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="tenEuro" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="tenEuro"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="twentyEuro" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="twentyEuro"/></div>
			</div>
			<div class="form-group">
				<div class="col-xs-5 czk"><input n:name="fiftyEuro" class="form-control text"></div>
				<div class="col-xs-1 symbol">&times;</div>
				<div class="col-xs-4 control-label"><label n:name="fiftyEuro"/></div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-6">
			<div class="form-group">
				<div class="col-xs-5 control-label"><label n:name="cards"/></div>
				<div class="col-xs-5"><input n:name="cards" class="form-control text"></div>
				<div class="col-xs-2 symbol">€</div>
			</div>

			<div class="form-group">
				<div class="col-xs-5 control-label"><label n:name="mealVouchers"/></div>
				<div class="col-xs-5"><input n:name="mealVouchers" class="form-control text"></div>
				<div class="col-xs-2 symbol">€</div>
			</div>

			<div class="form-group">
				<div class="col-xs-5 control-label"><label n:name="promoVouchers"/></div>
				<div class="col-xs-5"><input n:name="promoVouchers" class="form-control text"></div>
				<div class="col-xs-2 symbol">€</div>
			</div>

			<div class="form-group">
				<div class="col-xs-5 control-label"><label n:name="withdrawals"/></div>
				<div class="col-xs-5"><input n:name="withdrawals" class="form-control text"></div>
				<div class="col-xs-2 symbol">€</div>
			</div>

			<div class="form-group">
				<div class="col-xs-5 control-label"><label n:name="replenishments"/></div>
				<div class="col-xs-5"><input n:name="replenishments" class="form-control text"></div>
				<div class="col-xs-2 symbol">€</div>
			</div>

			<div class="form-group">
				<div class="col-xs-5 control-label"><label n:name="cashdesk"/></div>
				<div class="col-xs-5"><input n:name="cashdesk" class="form-control text"></div>
				<div class="col-xs-2 symbol">€</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3">
			<input n:name="send" class="btn btn-primary button">
			<p id="send-button-hidden-message" style="display: none;">Tlačítko pro uložení půjde vidět až po stáhnutí videa.</p>
		</div>
		<div class="col-sm-9" style="text-align: right;">
			<p>Celková hodnota Safebagu: <b>{$safeBag->totalValue|money}</b></p>
		</div>
	</div>
</form>
<div class="cleaner"></div>
