<form method="POST">
	<p>Pokud nevyplníte jakkoukoliv položku, nebude se zobrazovat</p>
	<div class="form-group">
		<label for="fb">Facebook Link</label>
		<input type="text" name="fb" class="form-control" value="<?php print_option('fb'); ?>">
	</div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" data-val="true"  value="true" name="show-fb-widget" <?php selected("show-fb-widget"); ?> id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Zobrazit FB widget v patičce stránk
        </label>
    </div>
	<div class="form-group">
		<label for="linkedin">LinkedIn Link</label>
		<input type="text" name="linkedin" class="form-control" value="<?php print_option('linkedin'); ?>">
	</div>
	<div class="form-group">
		<label for="pirati">Twitter link</label>
		<input type="text" name="twitter" class="form-control" value="<?php print_option('twitter'); ?>">
	</div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox"  data-val="true"  value="true"  name="show-twitter-widget" <?php selected("show-twitter-widget"); ?> id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Zobrazit Twitter widget v patičce
        </label>
    </div>
	<div class="form-group">
		<label for="pirati">Piráti Link</label>
		<input type="text" name="pirati" class="form-control" value="<?php print_option('pirati'); ?>">
	</div>
	<div class="form-group">
		<label for="pirati">Google kalendář link</label>
		<input type="text" name="g_calendar" class="form-control" value="<?php print_option('g_calendar'); ?>">
	</div>
	<button class="btn btn-primary" name="save-social">Uložit</button>



</form>
