<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://use.fontawesome.com/68cdf706aa.js"></script>
        <script src='/tinymce/tinymce.min.js'></script>

        <title>Administrace systému</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="/styleAdmin.css">
    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><?php echo get_web_name(); ?> </h3>
                </div>


                <ul class="list-unstyled components">
                    <li>
                        <a href="/admin/">Nástěnka</a>
                    </li>
                     <li>
                        <a href="/admin/social/">Sociální sítě</a>
                    </li>
                    <li>
                        <a href="/admin/blog/">Články</a>
                    </li>
                    <li>
                        <a href="/admin/profil/">Nastavení profilu</a>
                    </li>
                    <li>
                        <a href="/admin/moduly/">Nastavení modulů</a>
                    </li>
                    <li>
                        <a href="/admin/uzivatele/">Uživatelské účty</a>
                    </li>
                    <li>
                        <a href="/admin/design/">Nastavení designu</a>
                    </li>

                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="/admin/logout" class="download">Odhlásit</a></li>
                    <li><a href="/user_guide.pdf" class="article">Nápověda</a></li>
                    <?php;

                    if(file_get_contents("http://api.jakubmudra.cz/cms-version.php") > SYS_VER){
                        ?>
                        <li><a href="/update.php" class="article">Aktualizovat</a></li>
                       <?php
                    }

                    ?>
                </ul>
                <p>Verze systému: <?php echo SYS_VER; ?></p>
                <p>Poslední aktualizace: <?php echo SYS_UPD; ?></p>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Menu</span>
                            </button>

                        </div>


                    </div>
                </nav>
                <div class="row">
                    <?php foreach($msg as $onemsg) : ?>
                        <div class="col-md-12">
                            <?php
                                if($onemsg[1] == "ok"){
                                    $class = "success";
                                }else $class = "warning";
                            ?>
                            <div class="alert alert-<?= $class ?>">
                              <?= $onemsg[0] ?>
                            </div>
                        </div>

                        <?php endforeach; ?>
                </div>
                <div class="row" style="    margin: 0 auto;">
                   <?php $this->controler->render(); ?>
                </div>
                <div class="line"></div>

                </div>



            </div>
        </div>





        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>



