<p>Vítejte v administraci, jste přihlášeni jak <?= $nick ?></p>
<?php if (!$admin) : ?>
        <p>Nemáte administrátorská oprávnění, požádejte administrátora webu, aby vám je přidělil.</p>
<?php endif ?>


                <h2>Novinky v systému</h2>
                <div class="line"></div>
                <div class="row">
                    <?php

                    $api = new Api;
                    $data = $api->get();
                    if($data === false){
                        ?>
                        <div class="col-md-12">
                        <div class="alert alert-danger">
                            Nepodařilo se připojit k API serveru. Pokud komplkkace trvají déle jak 24 hodin, kontaktujte prosím spráce IT.   </div></div>
                        <?php
                    }else{
                        $data = json_decode($data);
                        foreach ($data->clanky as $key => $value) {
                            echo htmlspecialchars_decode($value);
                            }
                     }
                    ?>



                </div>
