<h1>Editory článků</h1>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            };

            $('#blah').css("display", "block");


            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<style>
    #blah{
        width: 100%;
    }
</style>
<form method="post" enctype="multipart/form-data" action="admin/editor/">
        <div class="form-group">
                <input type="hidden" class="form-control" name="article_id" value="<?= $article['article_id'] ?>" />
                 <input type="hidden" class="form-control" name="img_url" value="<?= $article['thumbnail'] ?>" />
        </div>
        <div class="form-group">
                <label for="title">Titulek</label>
                 <input type="text" id="title" name="title" class="form-control" value="<?= $article['title'] ?>" />
        </div>

        <div class="form-group">
                <label for="desc">Popisek</label>
                <input type="text" id="desc"  name="description" value="<?= $article['description'] ?>"  class="form-control" />
        </div>
        <div class="form-group">
                <div class="row">
                        <div class="col-md-6">
                                <label for="file">Náhledový obrázek</label>
                                <input type="file" id="file" name="thumbnail" class="form-control" onchange="readURL(this);">
                                    <img id="blah" <?= ($article['thumbnail']) ? 'src="/'.$article['thumbnail'].'"' : 'src="#" style="display: none;"' ?> />
                        </div>
                        <div class="col-md-6">
                                 <label for="keywords">Klíčová slova</label>
                                 <input type="text" id="keywords" name="keywords" value="<?= $article['keywords'] ?>" class="form-control"/>
                        </div>
                </div>
        </div>
        <div class="form-group">
                 <label for="content">Obsah</label>
                <textarea name="content" id="lel" class="form-control"><?= $article['content'] ?></textarea>
        </div>
         <button type="submit" class="btn btn-primary" value="Uložit článek">Zveřejnit</button>


</form>


<script type="text/javascript">
        tinymce.init({
                        selector: "textarea[id=lel]",
                        plugins: [
                                        "advlist autolink lists link image charmap print preview anchor",
                                        "searchreplace visualblocks code fullscreen",
                                        "insertdatetime media table contextmenu paste"
                        ],
                        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                        entities: "160,nbsp",
                        entity_encoding: "named",
                        entity_encoding: "raw"
        });
</script>
