<div class="row">
<?php foreach ($articles as $article) : ?>

 <div class="col-md-4 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-thumbnail" >
					<?php
		      				$thumbnail = "/".$article['thumbnail'];
		      		?>
		      		<img src="<?php echo $thumbnail; ?>" class="img-responsive" style="width: 100%;">

          </div>
          <div class="panel-body">
            <p class="lead"><a href="<?= $article['url'] ?>" ><?= $article['title'] ?></a></p>
             <div class="border mx-auto mb-2" style="width: 100px;"></div>
            <p><em> <?= $article['description'] ?></em></p>


          </div>
        </div><!--/panel-->
</div>

<?php endforeach ?>




</div>
