<form method="POST">
	<div class="form-group">
		<div class="row">
			<div class="col-sm-2">
				<p>Pozadí hlavičksy</p>
			</div>
			<div class="col-sm-1">
				<input type="color" name="header_bg_color" class="form-control" value="<?= print_option('header_bg_color'); ?>">
			</div>
			<div class="col-sm-3">
				<p>Barva v textu v hlavičce</p>
			</div>
			<div class="col-sm-1">
				<input type="color" name="header_text_color" class="form-control" value="<?= print_option('header_text_color'); ?>">
			</div>

		</div>



		<div class="row">
			<div class="col-sm-2">
				<p>Pozadí patičky</p>
			</div>
			<div class="col-sm-1">
				<input type="color" name="footer_bg_color" class="form-control" value="<?= print_option('footer_bg_color'); ?>">
			</div>
			<div class="col-sm-3">
				<p>Barva v textu v patičce</p>
			</div>
			<div class="col-sm-1">
				<input type="color" name="footer_text_color" class="form-control" value="<?= print_option('footer_text_color'); ?>">
			</div>

		</div>
			<div class="row">
			<div class="col-sm-2">
				<p>Pozadí webu</p>
			</div>
			<div class="col-sm-1">
				<input type="color" name="web_bg_color" class="form-control" value="<?= print_option('web_bg_color'); ?>">
			</div>
			<div class="col-sm-3">
				<p>Barva textu na webu</p>
			</div>
			<div class="col-sm-1">
				<input type="color" name="web_text_color" class="form-control" value="<?= print_option('web_text_color'); ?>">
			</div>

		</div>

		<button class="btn btn-info" name="save-design">Uložit barvy</button>
	</div>

</form>
