<div class="row">

	<div class="col-sm-6 offset-sm-3 text-center">
		<h1>Přihlášení do administrace</h1>
		<form method="post">
			  <div class="form-group">
			    <label for="nick">Uživatelské jméno</label>
			    <input type="text" name="nick" class="form-control" id="nick" placeholder="Zadejte vaše uživatelské jméno">
			  </div>
			  <div class="form-group">
			    <label for="password">Vaše heslo</label>
			    <input type="password" name="password" class="form-control" id="password" placeholder="Zadejte vaše heslo">
			  </div>
			  <button type="submit" class="btn btn-primary" value="Přihlásit">Přihlásit</button>

		</form>
	</div>

</div>
