<h1>Registrace</h1>
<form method="post">
        <div class="form-group">
        	<label>Jméno</label>
			<input type="text" name="nick" class="form-control" required="required" value="<?= (isset($user)) ? $user['nick'] : '';?>" />
		</div>
		<div class="form-group">
			<label>Heslo</label>
			<input type="password" name="password"  class="form-control" />
		</div>
		<div class="form-group">
			<label>Kontrola hesla</label>
			<input type="password" name="password2"  class="form-control" />
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" name="email" class="form-control" value="<?= (isset($user)) ? $user['email'] : '';?>"/>
		</div>
		<input type="submit" value="Registrovat"  required="required" name="save-user" class="btn btn-info" />
</form>
