<div class="row">
  <div class="col-md-12">
    <h1>Seznam všech uživatelů</h1>
  </div>
  <div class="col-md-12 text-right">
    <a href="/admin/uzivatele/pridat/" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Přidat uživatele</a>
  </div>

  <div class="col-md-12">
    <div class="line"></div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nick</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
<?php

foreach ($uzivatele as $user): ?>
 <tr>
      <th scope="row"><?= $user['user_id']?></th>
      <td><?= $user['nick']?></td>
      <td><?= $user['email']?></td>
      <td class="text-right"><a href="/admin/uzivatele/odstranit/<?= $user['user_id'] ?>" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="/admin/uzivatele/upravit/<?= $user['user_id'] ?>" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </td>
    </tr>
<?php
endforeach;
?>

  </tbody>
</table>
  </div>
  </div>
