/*
    Styles
*/
#container{
            height: 200px;
            box-shadow: 0px 0px 20px 20px #f8f9fa;
      }
      .clearfix{
        height: 50px;

      }
      .quote{
            border-left: 3px solid #dadada;
            padding-left: 20px;
            font-style: italic;
            font-weight: lighter;
      }
      .mystyle{
            font-weight: 300;
        font-size: 21px;
        background: #343a40;
        margin-bottom: 0px;
        color: white;
        padding: 4Px 0px;
          }
          #footer {
        /*height: 60px;*/
        color: white;
        background-color: #f5f5f5;
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .fbbtn,.fbbtn:hover{
      font-size: 19px;
      text-decoration: none;
      color: white;
      background: #0056b3;
      display: block;
      padding: 9px 12px;
  }
      .piratibtn,.piratibtn:hover{
      font-size: 19px;
      text-decoration: none;
      color: black;
      background: #white;
      border: 2px solid black;
      display: block;
      padding: 7px 10px;
  }
  .inbtn,.inbtn:hover{
    font-size: 19px;
    text-decoration: none;
    color: #0077B5;
    background: #white;
    border: 2px solid #0077B5;
    display: block;
    padding: 7px 10px;
}
#footer{
  color: white!imporant;
}
#footer {
    /* height: 60px; */
    color: white;
    background-color: #f5f5f5;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.panel-thumbnail{
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
