<h2>Přidat účtenku</h2>
{control uploadForm}

<form>
    {foreach $receipts as $receipt}
        <figure class="image-upload-control">
            <img src="/{$receipt->filePath}" alt="{$receipt->originalName}" id="receipt{$receipt->id}">
            <figcaption>
                {$receipt->originalName|truncate:30}<br>
                <span>
                    {$receipt->uploader},
                    {$receipt->uploadedAt|humanReadableDate}
                </span>
                <a n:if="$employee->isRegionalManager() || $employee->id === $receipt->uploader->id"
                        n:href="deleteReceipt!, receiptId => $receipt->id, id => $employee->id"
                        data-confirm="Opravdu odstranit '{$receipt->originalName}'?" class="delete">
                    &cross;
                </a>
                <a href="javascript:;" class="rotation">↻</a>
            </figcaption>
        </figure>
    {/foreach}
    <div class="cleaner"></div>
</form>
